############################
# Java / Maven
############################
target/
*.class
*.log
hs_err_pid*
replay_pid*

############################
# Maven Wrapper (keep scripts, ignore internals if needed)
############################
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar

############################
# IDEs
############################
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

############################
# OS
############################
.DS_Store
Thumbs.db
